<div class="container w-full h-full">
    <div class="flex flex-row w-full">
        <span class="text-md w-1200 font-bold bg-gray-400 p-2 rounded-t-lg">
            Payment Details Register
        </span>
    </div>
    <div class="flex flex-row w-full text-center">
        <div class="flex flex-col col-2 w-600 pl-2 bg-gray-200">
            <app-payment-detail-form></app-payment-detail-form>
        </div>
        <div class="flex flex-col col-2 w-600 items-start bg-gray-200">
            <p class="text-sm font-semibold">List of Payment Details</p>
        </div>
    </div>
</div>
